bzip2==1.0.8
ca-certificates==2024.11.26
libcxx==19.1.5
libexpat==2.6.4
libffi==3.4.4
libzlib==1.3.1
llvm-openmp==19.1.5
ncurses==6.4
python_abi==3.11
tzdata==2024b
xz==5.4.6
yaml==0.2.5
libgfortran5==13.2.0
libsqlite==3.45.2
openssl==3.4.0
readline==8.2
tk==8.6.13
zlib==1.3.1
zstd==1.5.6
libgfortran==5.0.0
python==3.11.8
sqlite==3.45.2
aiohappyeyeballs==2.4.4
attrs==24.2.0
brotli-python==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
exceptiongroup==1.2.2
frozenlist==1.5.0
greenlet==3.1.1
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
jsonpointer==3.0.0
libopenblas==0.3.28
msgpack-python==1.1.0
multidict==6.1.0
orjson==3.10.12
packaging==24.2
propcache==0.2.1
pycparser==2.22
pysocks==1.7.1
pyyaml==6.0.2
setuptools==75.1.0
sniffio==1.3.1
tenacity==8.5.0
typing_extensions==4.12.2
wheel==0.44.0
aiosignal==1.3.1
anyio==4.7.0
cffi==1.17.1
h11==0.14.0
h2==4.1.0
jsonpatch==1.33
libblas==3.9.0
pip==24.2
python-dotenv==0.21.0
yarl==1.18.3
aiohttp==3.11.9
annotated-types==0.7.0
async-timeout==4.0.3
httpcore==1.0.7
libcblas==3.9.0
liblapack==3.9.0
pydantic-core==2.27.1
sqlalchemy==2.0.36
zstandard==0.23.0
httpx==0.28.0
numpy==1.26.4
pydantic==2.10.3
urllib3==2.2.3
httpx-sse==0.4.0
requests==2.32.3
langgraph-sdk==0.1.43
requests-toolbelt==1.0.0
langsmith==0.1.147
langchain-core==0.3.21
langchain-text-splitters==0.3.2
langgraph-checkpoint==2.0.8
langchain==0.3.9
langgraph==0.2.56
